img.img-fluid {
  max-height: 400px;
  object-fit: cover;
}

.accordion-button {
  background-color: #f8f9fa;
  font-weight: bold;
}

.btn-group span {
  display: inline-block;
  width: 40px;
  text-align: center;
}
